@charset "utf-8";
@import "./reset.css";

.cart-page {
    padding: 40px;
    max-width: 1200px;
    margin: auto;
}

.cart-page h1 {
    font-size: 35px;
    margin-bottom: 30px;
}

.cart-container {
    display: flex;
    gap: 25px;
    align-items: flex-start;
}

.cart-item {
    display: flex;
    gap: 20px;
    background: white;
    padding: 20px;
    margin-bottom: 18px;
    border-radius: 12px;
    box-shadow: 0 2px 8px rgba(0,0,0,.08);
}

.cart-item img {
    width: 120px;
    height: 120px;
    background: #fafafa;
    padding: 10px;
    border-radius: 10px;
}

.cart-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.cart-info h3 {
    font-size: 20px;
    margin-bottom: 10px;
}

.cart-info p {
    font-size: 15px;
    font-weight: bold;
    color: #2563eb;
}

.qty {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-top: 15px;
}

.qty button {
    width: 32px;
    height: 32px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    font-size: 20px;
    background: #e5e7eb;
}

.qty span {
    font-size: 16px;
    font-weight: bold;
}

.remove {
    margin-top: 15px;
    width: 110px;
    padding: 10px;
    border: none;
    background: #ef4444;
    color: white;
    cursor: pointer;
    border-radius: 8px;
}
.summary {
    flex: 1;
    background: white;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 2px 10px rgba(0,0,0,.08);
    position: sticky;
    top: 20px;
}

.summary h2 {
    margin-bottom: 25px;
}

.summary p {
    margin-bottom: 15px;
    font-size: 18px;
}

.summary h3 {
    margin: 25px;
    font-size: 24px;
    color: #2563eb;
}

.summary button {
    width: 100%;
    padding: 15px;
    border: none;
    background: #2563eb;
    color: white;
    font-size: 15px;
    cursor: pointer;
    border-radius: 8px;
}

.footer {
    margin-top: 60px;
    background: #111827;
    padding: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}

.footer div {
    display: flex;
    gap: 20px;
}

.footer a {
    color: white;
    text-decoration: none;
}

.notfound-container {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 60px 8%;
  gap: 50px;
  background-color: #f4f7fb;
  font-family: Arial, Helvetica, sans-serif;
}

.notfound-content {
  flex: 1;
  max-width: 500px;
}

.error-text {
  color: #4b7bec;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 2px;
  margin-bottom: 20px;
}

.notfound-content h1 {
  font-size: 56px;
  line-height: 1.2;
  color: #111827;
  margin-bottom: 25px;
}

.description {
  font-size: 18px;
  line-height: 1.8;
  color: #6b7280;
  margin-bottom: 35px;
}

.buttons {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.home-btn,
.browse-btn {
  padding: 14px 28px;
  border-radius: 8px;
  font-size: 15px;
  font-weight: 600;
  text-decoration: none;
  transition: 0.3s ease;
  cursor: pointer;
}

.home-btn {
  background-color: #4b7bec;
  color: white;
  border: none;
}

.home-btn:hover {
  background-color: #3867d6;
}

.loading {
    height:100svh;
    display:flex;
    justify-content:center;
    align-items:center;
    font-size:30px;
    font-weight:bold;
}

.browse-btn {
  background-color: transparent;
  border: 2px solid #4b7bec;
  color: #4b7bec;
}

.browse-btn:hover {
  background-color: #4b7bec;
  color: white;
}

.image-section {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.error-box {
  width: 100%;
  max-width: 700px;
  height: 600px;
  border-radius: 20px;
  overflow: hidden;
  background-image: url("/src/assets/media/404-image.png");
  background-size: cover;
  background-position: center;
  position: relative;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
}

.error-box h1 {
  position: absolute;
  top: 40px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 120px;
  color: rgba(255, 255, 255, 0.9);
  text-shadow: 0 0 20px rgba(255, 255, 255, 0.8);
  letter-spacing: 10px;
}

@media (max-width: 992px) {
  .notfound-container {
    flex-direction: column;
    text-align: center;
    padding: 40px 5%;
  }

  .buttons {
    justify-content: center;
  }

  .notfound-content h1 {
    font-size: 42px;
  }

  .error-box {
    height: 450px;
  }

  .error-box h1 {
    font-size: 90px;
  }
}

@media (max-width: 576px) {
  .notfound-content h1 {
    font-size: 34px;
  }

  .description {
    font-size: 16px;
  }

  .home-btn,
  .browse-btn {
    width: 100%;
    text-align: center;
  }

  .error-box {
    height: 350px;
  }

  .error-box h1 {
    font-size: 70px;
  }
}

